// Can use the actuall OpenAI API key if you're not accessing the LLM through the Grove Gateway,
// otherwise use the Grove API key and make sure to set the baseURL in the agent configuration to the Grove Gateway endpoint.
OPENAI_API_KEY=your-openai-api-key-here

MONGODB_URL=mongodb://localhost:27017/LangChainQS

# Optional: reuse the same persisted LangGraph thread across runs
LANGGRAPH_SESSION_ID=666  # This is the session ID for the LangGraph thread. 
                          # You can leave it as is to reuse the same thread across runs, 
                          # or change it as is to create a new thread each time. 
